@model WebApplication1.ViewModels.Course.InstructorViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/vendor/jquery/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        var path_to_delete;
        $(".deleteItem").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('#confirmDeleteBtn').click(function () {           
            var id = $('#deleteItem').data('path').trim();
            $.ajax({
                type: "GET",
                url: '/Instructors/DeleteInstructor?ID=' + id,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    window.location.reload();
                    $('#confirmDeleteModal').hide();
                },
                error: function (result) {
                    alert('Sistemsel bir hata oluştu!');
                }
            });
        });

        $('.edit').click(function (e) {           
            var id = $(this).data('path');
            $.ajax({
                type: "GET",
                url: '/Instructors/GetInstructor?ID=' + id,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('#UpdateModal').modal('show');
                    $('#InstructorName').val(result.InstructorName);
                    $('#InstructorExpert').val(result.InstructorExpert);
                    $('#InstructorAge').val(result.InstructorAge);  
                    $('#Id').val(result.Id);                  
                },
                error: function (result) {
                    alert('Sistemsel bir hata oluştu!');
                }
            });
        });
    });



</script>


<div class="container">
    <div class="row mb-4 mr-2 float-right">
        <button data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary">Eğitmen Ekle </button>
    </div>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Eğitmen Adı</th>
                <th>Eğitmen Branşı</th>
                <th>Eğitmen Yaşı</th>
                <th>Seçenekler</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Instructors)
            {
                <tr>
                    <td>
                        @item.InstructorName
                    </td>
                    <td>
                        @item.InstructorExpert
                    </td>
                    <td>
                        @item.InstructorAge
                    </td>
                    <td>
                        <a id="deleteItem" class="deleteItem" data-target="#confirmDeleteModal"
                           data-toggle="modal"
                           data-path="@item.Id ">Sil</a>
                        <a id="edit"
                           class="edit"
                           data-toggle="modal"
                           data-path="@item.Id">/ Güncelle</a>

                        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmDeleteModalLabel">Silme İşlemi</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Silmek istediğinizden emin misiniz?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">
                                            <i class="fas fa-trash"></i> Evet, Sil
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@*modal create ınstructor*@
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    @using (Html.BeginForm("CreateInstructor", "Instructors"))
    {
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eğitmen Ekle/Güncelle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group w-100">
                            <label>Eğitmen Adı</label>
                            <input type="text" name="InstructorName" class="form-control" placeholder="Eğitmen Adını Giriniz" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group w-100">
                            <label>Eğitmen Branşı</label>
                            <input type="text" name="InstructorExpert" class="form-control" placeholder="Eğitmen Branşını Giriniz" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group w-100">
                            <label>Eğitmen Yaşı</label>
                            <input type="number" min="0" name="InstructorAge" class="form-control" placeholder="Eğitmen Yaşını Giriniz" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    }
</div>
<!-- Modal Update Insructor -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalCenterTitle" aria-hidden="true">
    @using (Html.BeginForm("UpdateInstructor", "Instructors"))
    {
        <input type="hidden" name="id" id="Id" />
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UpdateModalLongTitle">Eğitmen Ekle/Güncelle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group w-100 col-md-12">
                            <label>Eğitmen Adı</label>
                            <input type="text" id="InstructorName" name="InstructorName" class="form-control" placeholder="Eğitmen Adınızı Giriniz" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group w-100 col-md-6">
                            <label>Eğitmen Branşı</label>
                            <input type="text" id="InstructorExpert" name="InstructorExpert" class="form-control" placeholder="Eğitmen Branşı" />
                        </div>
                        <div class="form-group w-100 col-md-6">
                            <label>Telefon</label>
                            <input type="tel" id="InstructorAge" name="InstructorAge" class="form-control" placeholder="Eğitmen Yaşı" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            </div>
        </div>
    }
</div>











